<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<style>
    h1{
    color: #00B4CC;
        font-family: 'Open Sans', sans-serif;
        font-size: 45px; font-weight: normal;
        line-height: 48px; margin: 0:
    }
</style>
<body>
<div class="about-container" style="text-align: center;box-shadow: 0 4px 8px 0 #00B4CC;padding: 20px;margin: 50px;" >
                   <h1>Positive Comments:</h1>

                       <p>{{Positive}}</p>


</div>
<div class="about-container" style="text-align: center;box-shadow: 0 4px 8px 0 #00B4CC;padding: 20px;margin: 50px;" >
                    <h1>Negative Comments</h1>

                       <p>{{Negative}}</p>
</div>
<div class="about-container" style="text-align: center;box-shadow: 0 4px 8px 0 #00B4CC;padding: 20px;margin: 50px;" >
                  <h1>Neutral Comments</h1>

                     <p>{{Neutral}}</p>
</div>

</body>
</html>